body {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 500px;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

sup{
  font-size: smaller;
}

.logo{
  width: 100px;
  margin: auto;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #adadad;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 95%;
  margin: auto;
  display: flex;
  border-radius: 20px;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 20px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ebebeb;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #fdf117;
  color: black;
}

/* nav bar stuff */
.iconButton {
  width: 50px;
  height: 50px;
}
.innerBox {
  margin: auto;
  display: inline-block;
  height: min-content;
}

.barDuck {
  width: 20px;
  height: 20px;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
